/* table of contents:
    1) text style reference
    2) global elements
    3) header elements
    4) nav elements
    5) digi project elements
    6) digital art elements
    7) analog project elements
    8) analog art elements
    9) past experience elements
    10) blog & ideas elements
    11) contact elements
*/

/* 1) this section is used as text style reference
 font-family: 'Special Elite', cursive;
 font-family: 'Cabin Sketch', cursive;
 font-family: 'Lobster', cursive;
 font-family: 'VT323', monospace;
 font-family: 'Monoton', cursive;
 font-family: 'Fredericka the Great', cursive;
 font-family: 'Bungee Inline', cursive;
 font-family: 'Vampiro One', cursive;
*/

/* 2) this section controls global elements */

body{
    margin: 0;
    height: 100%;
    color: #fff;
    background-image: url("http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}

@keyframes shake {
    25%{
        transform: translate(1px, 8px);
    }
    50%{
        transform: translate(-3px, 3px);
    }
    75%{
        transform: translate(8px, 1px);
    }
}
section {
    display:flex;
    margin: 5px;
    justify-content: center;
}

/* 3) this section controls header elements */
header{
}
.title_name_div{
    padding: 5px;
    background-color: rgba(122, 122, 122, 0.3);
}
.title_description_div{
    padding: 5px;
    background-color: rgba(53, 53, 53, 0.3)
}

.title_name{
    font-size: 300%;
    font-family: 'VT323', monospace;
    letter-spacing: 17px;
    display:flex;
    justify-content: center;
    padding: 0px;
    animation: shake 1s ease-in infinite alternate;
}
.title_name:hover {
    animation-play-state: paused;
}

.title_description {
    font-size: 200%;
    font-family: 'Special Elite', cursive;
    display:flex;
    justify-content: center;
    padding: 0px;
}

.mtn_image {
    background-image: url("https://i.imgur.com/mrYw0Nq.jpg");

}
/* 4) this section controls nav elements */
.navbar_look {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin:0;
    background-color: rgba(122, 122, 122, 0.3);
}

.button {
    font-size: 15px;
    background-color: rgba(231, 159, 3, 0.75);
    padding: 20px;
    flex-grow: 4;
    border-radius: 25px;
    transition:1s;
    font-family: 'Special Elite', cursive;
    text-align: center;
    text-decoration: none;
}
.button:hover{
    border-radius:0px;
}

/* 5) this section controls digi projects */
.happy_little_div{
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    font-size: 200%;
    padding: 10px;
}

.digi_projects{
    font-size: 400%;
    font-family: 'VT323', monospace;
    letter-spacing: 12px;
    display:flex;
    justify-content: center;
    flex-direction:row;
    padding: 30px;
}
.digiproject_div{
    width: 200px;
    height: 200px;
    border: dashed 5px;
    font-family: 'VT323', monospace;
}
.digi_art {
    font-size: 400%;
    font-family: 'Bungee Inline', cursive;
    letter-spacing: 12px;
    display:flex;
    justify-content: center;
    padding: 30px;
}
.digiart_div {
    width: 200px;
    height: 200px;
    border: dotted 5px;
    font-family: 'Bungee Inline', cursive;
}
.analog_projects{
    font-size: 400%;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: 12px;
    display:flex;
    justify-content: center;
    padding: 0px;
}
.analogproject_div {
    width: 200px;
    height: 200px;
    border: solid 5px;
    font-family: 'Cabin Sketch', cursive;
}
.analog_art{
    font-size: 400%;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 12px;
    display:flex;
    justify-content: center;
    padding: 0px;
}
.analogart_div {
    width: 200px;
    height: 200px;
    border: solid 5px;
    font-family: 'Fredericka the Great', cursive;
}
.past_exp{
    font-size: 400%;
    font-family: 'Vampiro One', cursive;
    letter-spacing: 12px;
    display:flex;
    justify-content: center;
    padding: 0px;
}
.past_div{
    width: 400px;
    height: 200px;
    border: solid 5px;
    font-family: 'Vampiro One', cursive;
}
.blog_ideas{
    font-size: 400%;
    font-family: 'Lobster', cursive;
    letter-spacing: 12px;
    display:flex;
    justify-content: center;
    padding: 0px;
}
.blog_div{
    width: 200px;
    height: 200px;
    border: solid 5px;
    font-family: 'Lobster', cursive;
}
.about{
    font-size: 400%;
    font-family: 'Monoton', cursive;
    letter-spacing: 12px;
    display:flex;
    justify-content: center;
    padding: 0px;
}
.about_div{
    width: 800px;
    height: 200px;
    border: solid 5px;
    font-family: 'Monoton', cursive;
}

/* 6) this section controls digital art */

/* 7) this section controls analog projects */

/* 8) this section controls analog art */

